body { 
	margin:0px;
    background: #ffffff;  
	background-color: #3a3a3a;
}
header {
	background-image: url('../img/header-bg.jpg');
	height:300px;
}
.topbar {
	background-color: #3a3a3a; 
	padding:5px 10%;
	color: #ffffff;
	font-family: Arial;
	overflow: auto;
	width: 80%;
vertical-align: middle;

}
footer {background-color: #3a3a3a; display:block; padding:5px 10%; color:white; font-size:10px;
}
.topbar ul{
	float:right;
	margin:0px;
	padding:0px;
	list-style-type:none;
	
}
.topbar ul li{
	display:inline-block;
	vertical-align: middle;
	padding-left:30px;
}
.topbar ul li a{
	display:inline-block;
	padding:10px;

	text-decoration:none;
	border-top:1px solid gray;
	margin:0px 10px;
		margin-top:20px;
	color:#ffffff;
}
.topbar ul li a:hover{
	margin-top:17px;
	border-top:4px solid #ffffff;
}
article {padding:5px 10%; background-color:white;}

ul.gallery {
	display:table;
	margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
}
ul.gallery h2{margin:5px 0px;}
ul.gallery li {
	display:block;
	width:100;
	margin:10px 0px;
}
ul.gallery li a {
	display:inline-block;
	width:100%;
	padding:15px;
	border: 1px solid gray;
	border-radius:10px;
	text-decoration:none;
	color:gray;
}
ul.gallery li a:hover{
	border-color:black;
	color:black;
}